<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Barra superior -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button">SOBRE NOSOTROS</a>
      <a href="https://arcane-chamber-44260.herokuapp.com/servicios" class="w3-bar-item w3-button"><i class="fa fa-th"></i> SERVICIOS </a>
      <a href="#pricing" class="w3-bar-item w3-button"><i class="fa fa-usd"></i> PRECIOS</a>
      <a href="#contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACTO</a>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
  <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
  <a href="#team" onclick="w3_close()" class="w3-bar-item w3-button">TEAM</a>
  <a href="#work" onclick="w3_close()" class="w3-bar-item w3-button">WORK</a>
  <a href="#pricing" onclick="w3_close()" class="w3-bar-item w3-button">PRICING</a>
  <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
</nav>

<div class="w3-container w3-teal">
<h1>Servicios que ofrecemos en Hípica Canarias</h1>
</div>

<div class="w3-content">

<div class="w3-row w3-margin">

<div class="w3-third">
  <img src="https://hipicael-potril.com/wp-content/uploads/2015/08/hipica_elpotril_escuela_mni-780x440.jpg" style="width:100%;min-height:200px">
</div>
<div class="w3-twothird w3-container">
  <h2>Escuela</h2>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
</div>

</div>
<div class="w3-row w3-margin">
<hr class="featurette-divider my-5">
<div class="w3-third">
  <img src="https://hipicael-potril.com/wp-content/uploads/2018/07/pupilaje_madrid_-780x440.jpg" style="width:100%;min-height:200px">
</div>
<div class="w3-twothird w3-container">
  <h2>Pupilaje</h2>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
</div>

</div>
<div class="w3-row w3-margin">
<hr class="featurette-divider my-5">
<div class="w3-third">
  <img src="https://hipicael-potril.com/wp-content/uploads/2015/08/hipicaelpotril_pony_club_madrid-780x440.png" style="width:100%;min-height:200px">
</div>
<div class="w3-twothird w3-container">
  <h2>Club pony</h2>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
</div>

</div>
<div class="w3-row w3-margin">
<hr class="featurette-divider my-5">
<div class="w3-third">
  <img src="https://hipicael-potril.com/wp-content/uploads/2018/07/horseball_hipicaelpotril_madrid-780x440.jpg" style="width:100%;min-height:200px">
</div>
<div class="w3-twothird w3-container">
  <h2>Horseball</h2>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
</div>

</div>
<div class="w3-row w3-margin">


</div>
</div>
</body>
</html>